*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/target/
# Backupfiles from mergetools #
*.orig
# Java Class Files #
*.class
.classpath
# Package Files #
*.jar
*.war
*.ear
*.zip
# Eclipse #
/.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.recommenders
bin/**
# Maven #
target/
/.mvn
/.maven
/.repository
.flattened-pom.xml